@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;   
}
body{
    background-image: linear-gradient(to right, #D4D4BA, #BDBF88);
}
main{
    border-radius: 10px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #2433228c;

}

h1{
    color: #52734D;
    text-align: center;
    text-shadow: 1px 1px 2px #2433226e;
}
h2 {
    color: #a0a857;
}

p{
    text-align: justify;
}